* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.main-navbar {
  background-color: #0b5f83;
  border: 20px;
}

.main-navbar-2 {
  background-color: #0c739f;
  border: 20px;
}

.main-navbar-social {
  margin: auto 10px;
}

.main-navbar span {
  display: inline-block;
  align-items: center;
  text-align: right;
  border: 5px;
  margin: auto 10px auto 5px;
}
.main-navbar span img {
  margin-right: 5px;
}

@media (max-width: 767.98px) {
  .justify-content-center-sm {
    justify-content: center !important;
  }
}

.list-no-bullets {
  margin: auto 0;
  list-style: none;
}

.brand-icon {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.brand-name {
  text-align: left;
  font-size: xx-large;
  color: #ffba00;
  overflow: hidden;
}

.main-navbar-2 .col {
  display: flex;
  align-items: center;
}

#kekw {
  display: flex;
  align-items: center; /* Center items vertically */
}

.search-bar-group {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.search-bar {
  border: 0px;
  border-radius: 10px;
  padding-left: 15px;
  background-color: white;
}

.search-bar:focus {
  box-shadow: none;
}

#search-bar-icon-btn {
  width: auto;
  height: auto;
  justify-content: center;
  outline: none;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  min-width: 30px;
}

#search-bar-icon-btn img {
  /* zdroj chat gpt */
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-bar-icon-btn:focus,
#search-bar-icon-btn:active {
  box-shadow: none !important;
}
